.jumbotron {
  background-color: #FFFF01;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #FFFF00;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.btn-Enviar {
  margin: 0px 0px 10px 15px; }

.btn-como {
  margin: 2px 2px 2px 2px; }

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: blue; }

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: blue; }
